* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 5%;
  text-align: center;
  color: black;
  font-size: 50px;
}

.container {
  position: absolute;
  margin: auto;
}

.box {
  width: 100%;
  overflow: none;
}


.item {
  overflow: none;
  position: relative;
  text-align: center;
  border: 5px solid black;
  width: 30%;
  margin-top: 0;
  margin-bottom: -30px;
  margin-left: 62%;
  font-weight: bold;
}

.content {
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin-top: 0;
  margin-left: 3%;
  color: black;
  font-size: 25px;
  padding: 2%;
  padding-top: 8%;
  background-color: grey;
}

.solo1 {
  background-color: pink;
}

.solo2 {
  color: white;
  background-color: #FF0000;
}

.solo3 {
  background-color: beige;
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
    overflow: auto;
  }

  .item {
    margin-right: 20%;
  }
}


@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {

  .col-md-6,
  .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    margin-left: -12px;
    width: 105%;
  }

  .solo3 {
    margin-left: 82%;
    margin-bottom: -30px;
    width: 100px;
  }
}
